/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
.denglu {
  margin: 100px auto;
  width: 300px;
  /* height: auto; */
  padding: 20px ;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); /* 轻微阴影效果 */
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 8px 10px;
  font-size: 16px;
  line-height: 1;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s, box-shadow o.3s;
}
input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #007bff; /* 聚焦时边框变为蓝色 */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* 添加蓝色发光阴影 */
}
/* 通用按钮 */
button {
  padding: 10px;
  width: 100%;
  /* height: 40px; */
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s;
}

/* 按钮被聚焦时 */
button:hover {
  background-color: #4dbb51;
}
